{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./src",
    "parser": {
      "syntax": "typescript"
    },
    "paths": {
      "@/*": ["./*"]
    },
    "target": "esnext"
  },
  "module": {
    "type": "commonjs"
  }
}
